#footer{
    width: 100%;
    
}
.end-footer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.end-icon{
    opacity: 0.7;
    margin-left: 10px;
    font-size:24px;
}
.end-icon:hover{
    opacity: 0.4;
}

/* responsive */
@media screen and (min-width: 740px) and (max-width: 1024px) {
    .end-footer {
        height: 80px;
        line-height: 80px
    }
}