#slider {
    position: relative;
}
#slider .slider-img-1 {
    background: url('https://github.com/XuanLongNg/The_Band_w3schools/tree/master/img/chicago.jpg') top center / cover no-repeat;
    display: none;
}
#slider .slider-img-2 {
    background: url('https://github.com/XuanLongNg/The_Band_w3schools/tree/master/img/ny.jpg') top center / cover no-repeat;
    display: none;
}
#slider .slider-img-3 {
    background: url('https://github.com/XuanLongNg/The_Band_w3schools/tree/master/img/la.jpg') top center / cover no-repeat;
    display: none;
}
#slider .slider-img-1,
#slider .slider-img-2,
#slider .slider-img-3{
    margin-top: 46.5px;
    padding-top:50% ;
    background-color: rgb(96, 93, 93);
    width: 100%;
    height:50%;
    position: relative;
}
#slider .info{
    color: white;
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .city{
    font-weight: 500;
    font-size: 24px;
}
#slider .describe{
    margin-top:25px;
    font-weight: bold;
    font-size: 15px;
}

/* responsive */

/* tablet  */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    #slider .slider-img-1,
    #slider .slider-img-2,
    #slider .slider-img-3{
        margin-top: 60px;
        padding-top:50% ;
    }
    #slider .city{
        font-weight: 500;
        font-size: 30px;
    }
    #slider .describe{
        margin-top:25px;
        font-weight: bold;
        font-size: 18px;
    }   
}

/* Phone */
@media screen and (max-width: 739px) {
    #slider .info{
        display: none;
    }
}